:root {
    --colorOpen: #21a5bc;
    --colorClosed: #bc5721;
    --colorMatch: #33bc21;
}

.title {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    font-size: xx-large;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-weight: bold;
    color: #ff00ff;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

.subtitle {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    font-size: large;
}

.variables {
    text-align: center;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.card {
    border-radius: 5%;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

@media (min-width: 300px) {
    .memory {
        grid-template-columns: repeat(6, 1fr);
    }

    .leaderSettings {
        flex-direction: column;
    }
    .leaderSettings {
        flex-direction: row;
    }


}

@media (min-width: 800px) {
    .memory {
        grid-template-columns: repeat(12, 1fr);
    }

    .leaderSettings {
        flex-direction: row;
    }
    .settings{
        flex-direction: column;
    }
}

.leaderSettings {
    text-align: center;
    display: flex;
    align-items: center;
}

.card:active {
    filter: brightness(1.1);
}

.open {
    background-color: var(--colorOpen);
}


.close {
    background-color: var(--colorClosed);
}

/* make a green filter */
.match {
    position: relative;
}

.match::before {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: var(--colorMatch);
    opacity: 0.2; /* Pas de opaciteit aan naar wens */
    z-index: 1;
}

.match img {
    /* filter: grayscale(100%) sepia(100%) hue-rotate(90deg); */
    z-index: 0;
    position: relative;
}


.memory {
    display: grid;
    grid-gap: 10px;
    width: 90vw;
    height: 35vh;
    margin: 0 auto;
    margin-bottom: 2.5vh;
}

.colorSelects {
    display: flex;
    flex-direction: row;
    margin-bottom: 2.5vh;
}

.colorSelect {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin: 1vw;
}

.dropdown {
    display: flex;
    flex-direction: column;
    margin: 1vw;
}

.settings {
    display: flex;
    align-items: center;
}

body {
    background-color: aqua;
}