:root {
    --colorMatch: #33bc21;
}
body {
    background-image: url(nice.png);
    background-repeat: no-repeat;
    background-size: cover;
}
button {
    border-radius: 5px;
    background-color: #33bc21;
    border: transparent 0px;
    padding: 1vw;
    text-decoration: none;
}

.title {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    font-size: xx-large;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-weight: bold;
    color: #004cff;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

.links {
    text-align: center;
    display: inline-block;
}

.button-link {
    display: inline-block;
}

.subtitle {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    font-size: large;
}

.variables {
    text-align: center;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.card {
    border-radius: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    border: black 5px;
    border-style: solid; 
}

header, footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 2.5vh;
    border-radius: 25px;
    padding: 1vw;
    background-color: rgb(0, 59, 65);
    color: rgb(218, 218, 218);
}

@media (min-width: 300px) {
    .memory {
        grid-template-columns: repeat(6, 1fr);
    }

    .leaderSettings {
        flex-direction: column;
    }
    .leaderSettings {
        flex-direction: row;
    }


}

@media (min-width: 800px) {
    .memory {
        grid-template-columns: repeat(12, 1fr);
    }

    .leaderSettings {
        flex-direction: row;
    }
    .settings{
        flex-direction: column;
    }
}

.leaderSettings {
    text-align: center;
    display: flex;
    align-items: center;
    color: rgb(218, 218, 218);
}

.card:active {
    filter: brightness(1.1);
}

/* make a gren filter */
.match {
    position: relative;
}

.match::before {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: var(--colorMatch);
    opacity: 0.2; /* Pas de opaciteit aan naar wens */
    z-index: 1;
}

.match img {
    z-index: 0;
    position: relative;
}

.memory {
    display: grid;
    grid-gap: 10px;
    width: 90vw;
    height: 35vh;
    margin: 0 auto;
    margin-bottom: 2.5vh;
}

.colorSelects {
    display: flex;
    flex-direction: row;
    margin-bottom: 2.5vh;
}

.colorSelect {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin: 1vw;
}

.dropdown {
    display: flex;
    flex-direction: column;
    margin: 1vw;
}

.settings {
    display: flex;
    align-items: center;
}