.title{
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    font-size: xx-large;
}

:root{
    --colorOpen: #21a5bc;
    --colorClosed: #bc5721;
    --colorMatch: #33bc21;
}

.subtitle{
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    font-size: large;
}

.variables{
    text-align: center;
}

.container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.card{
    border-radius: 5%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card:active{
    filter: brightness(1.1);
}

.open{
    background-color: var(--colorOpen);
}

.close{
    background-color: var(--colorClosed);
}

.match{
    background-color: var(--colorMatch);
}

.memory{
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-gap: 10px;
    width: 90vw;
    height: 35vh;
    margin-bottom: 2.5vh;
}

.colorSelects{
    display: flex;
    flex-direction: row;
    margin-bottom: 2.5vh;
}

.colorSelect{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin: 1vw;
}

.dropdown{
    display: flex;
    flex-direction: column;
    margin: 1vw;
}

.dropdowns{
    display: flex;
    flex-direction: row;
}

body{
    background-color: aqua;
}