<div class="container">
    <div class="Pcontainer">
        <header>
            <h1 class = 'title'>General</h1>
        </header>

        <h2>Favourite API : {{ favAPI }} </h2>

        <h2>Total games Played : {{ games.length }} </h2>

        <div class="games-grid">
            <div class="game-card" *ngFor="let game of games">
                <app-game-card [game]="game" (detailsClicked)="handleGameDetails($event)"></app-game-card>
            </div>
        </div>

        <button class="details-button" (click)="goHome()">Back</button>
    </div>
</div>